<div layout="row" flex>

  <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left" hide-print
        md-is-locked-open="navLockedOpen" md-swipe-left="closeMenu()" class="navigation-menu">
    <md-toolbar class="md-tall md-primary md-hue-1 dashboard-sidebar-header md-whiteframe-glow-z1">
        <span flex></span>
        <img src="/modules/mangoUI/web/img/logo.svg" ma-tr="header.ui.app.heading">
        <span>{{user.username}}</span>
        <span class="email">{{user.email}}</span>
    </md-toolbar>

    <md-content flex role="navigation" md-colors="{background: 'background-A100'}">
      <dashboard-menu menu-items="menuItems" user="user"></dashboard-menu>
    </md-content>
  </md-sidenav>

  <div layout="column" tabIndex="-1" flex class="main-page-area">
    <md-toolbar class="md-whiteframe-glow-z1 dashboard-main-toolbar" role="toolbar">

      <div class="md-toolbar-tools dashboard-toolbar-tools" tabIndex="-1">
        <md-button id="menu-button" class="md-icon-button" ng-click="toggleMenu()" aria-label="Toggle Menu"> <md-icon class="md-light">menu</md-icon>
        </md-button>
        <div layout="row" flex class="fill-height">
          <h2 class="md-toolbar-item dashboard-breadcrumb" ng-class="{'gt-sm': $mdMedia('gt-sm')}">
            <span ng-repeat="crumb in crumbs track by $index" ng-class="{'hide-xs': !$last}">
                <span ma-tr="{{crumb.maTr}}">{{crumb.text}}</span>
                <span ng-if="!$last">
                    <md-icon>chevron_right</md-icon>
                </span>
            </span>
          </h2>
  
          <span flex></span>
          <!-- use up the empty space -->
  
          <div class="md-toolbar-item dashboard-tools" layout="row">
            <md-button class="md-icon-button" ng-if="errors.length">
                <md-tooltip md-autohide>REST API errors</md-tooltip>
                <a ui-sref="dashboard.apiErrors"><md-icon>warning</md-icon></a>
            </md-button>
            <md-menu md-position-mode="target-right target">
              <md-button aria-label="User menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                <md-icon md-menu-origin>more_vert</md-icon>
              </md-button>
              <md-menu-content width="4">
                <md-menu-item>
                  <md-button aria-label="{{'ui.app.legacyUi'|maTr}}" ng-href="/" target="_blank">
                    <div layout="row" flex layout-align="start center" layout-fill>
                      <p flex ma-tr="ui.app.legacyUi">Legacy UI</p>
                      <md-icon md-menu-align-target style="margin: auto 3px auto 0;">launch</md-icon>
                    </div>
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button aria-label="{{'header.logout'|maTr}}" ui-sref="logout">
                    <div layout="row" flex layout-align="start center" layout-fill>
                      <p flex ma-tr="header.logout">Logout</p>
                      <md-icon md-menu-align-target style="margin: auto 3px auto 0;">power_settings_new</md-icon>
                    </div>
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </div>
        </div>
      </div>

    </md-toolbar>

    <md-content md-scroll-y layout="column" flex class="main-content">
      <div ui-view flex="noshrink" class="dashboard-main-view" role="main"></div>
  
      <div layout="row" flex="noshrink">
        <div class="dashboard-footer">
          &copy;2016 <a href="http://infiniteautomation.com/" target="_blank">Infinite Automation Systems Inc</a>. <span ma-tr="footer.rightsReserved"></span>
        </div>
      </div>
    </md-content>

  </div>
</div>